n8n workflow - schedule > get data from api > filter data > push to > Postbin/n8n workflow - schedule _ get data from api _ filter data _ push to _ Postbin.json
{
  "name": "n8n workflow - schedule > get data from api > filter data > push to > Postbin",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -16
      ],
      "id": "26e2b2cb-ac6f-4012-bf78-30b0685c8736",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "donkiSolarFlare",
        "additionalFields": {
          "startDate": "={{ $today.minus(7, 'days') }}"
        }
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        -240,
        -16
      ],
      "id": "559fff2b-cf10-4f24-b883-e36ea5971e19",
      "name": "Get a DONKI solar flare",
      "credentials": {
        "nasaApi": {
          "id": "Gr3hsPQqmxQBHLkY",
          "name": "NASA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "576546a1-af5b-459d-a0b8-bb16838a999d",
              "leftValue": "={{ $json.classType }}",
              "rightValue": "X",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -16
      ],
      "id": "a96adbd0-0cc9-412b-9317-76b18fcad47e",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1780760486031-0182085346896",
        "binContent": "=There was a solar flare of class\n{{ $json[\"classType\"] }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        272,
        -32
      ],
      "id": "a029ecd9-a0f3-418e-b292-a64ecf6255ad",
      "name": "Send a request"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1780760486031-0182085346896",
        "binContent": "=There was a solar flare of class\n{{ $json[\"classType\"] }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        272,
        128
      ],
      "id": "d02dec47-c81f-4008-a704-e3ae2b235250",
      "name": "Send a request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a DONKI solar flare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a DONKI solar flare": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "efdae64d-d10a-4850-a2b7-a94dc6521eef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94b66e39dc6b9bdc5b8132434ad70ad21bf979e45505ca611c156f9f309ff1f7"
  },
  "nodeGroups": [],
  "id": "ghvyiqaIJfZKdaID",
  "tags": []
}